@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.approval-doctor-container
{
    display: grid;
    grid-gap: 20px;
    
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto;
}
.approval-doctor
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: Balsamiq Sans;
}
.approval-doctor-name
{
    font-size: 25px;
}
.approval-doctor-email
{
    color: rgba(0, 0, 0, 0.7);
}