.discussion-question-render
{
    display: flex;
    align-items: center;
    font-family: Balsamiq Sans;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    transition-duration: 0.4s;
}
.discussion-image-container
{
    text-align: center;
    font-size: 14px;
}
.discussion-image
{
    width: 34px;
    height: 34px;
    border-radius: 100%;
}
.discussion-date
{
    color: rgba(75, 75, 75,1);
}
