.discussion-question-render
{
    font-family: Balsamiq Sans;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    transition-duration: 0.4s;
}
.discussion-image-container
{
    text-align: center;
    font-size: 14px;
}
.discussion-image
{
    width: 34px;
    height: 34px;
    border-radius: 100%;
}
.discussion-date
{
    color: rgba(75, 75, 75,1);
}
.dicussion-container
{
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    min-height: 97vh;
}
.question-image
{
    height: 150px;
    width: 150px;
    right: 20px;
}
.question-date-left
{
    text-align: right;
}
.discussion-replies
{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}
.dicussion-reply-btn
{
    cursor: pointer;
    color: black;
}
.dicussion-reply-btn:hover
{
    color:rgba(0,0,0,0.7);
}
.discussion-answer-textarea
{
    resize: none;
}
.reply-left
{
    text-align: left;
}
.discussion-votes
{
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center; 
    flex-direction: column;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}
.discussion-upvote
{
    cursor: pointer;
    color: rgb(37, 185, 37);

}
.discussion-downvote
{
    cursor: pointer;
    color: rgba(255, 0, 0, 0.6);
}
.discussion-upvote-count
{
    color: green;
}
.discussion-downvote-count
{
    color: red;
}
