@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.forum-trending-today
{
    font-family: roboto;
    font-weight: bold;
    font-size: 24px;
}
.forum-search
{
    border-radius: 150px;
}
.forum-discussion-sort
{
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 13px;
    padding-bottom: 13px;
}
.forum-discussion-sort-heading
{
    font-family: roboto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}
.forum-discussion-sort-heading:hover
{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
}
.forum-discussion
{
    font-family: roboto;
    font-weight: bold;
    font-size: 24px;
}
.forum-ask-question,.forum-ask-question:hover
{
    padding-top: 5px;
    padding-bottom: 5px; 
    font-family: roboto;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.forum-ask-question-bg
{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
}
.forum-ask-question-bg:hover
{
    background-color: rgba(255, 255, 255, 0.7);
}