@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar-dark
{
    background-color: rgba(15, 206, 206, 1);
    height: 64px;
    z-index: 2;
}
.header-loginbtn
{
    outline: none;
    border-radius: 5px;
    transition-duration: 0.4s;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.9);
    color: rgba(15, 206, 206, 1) !important;
    
}
.header-loginbtn:hover
{
    border: 2px solid rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: rgba(15, 206, 206, 1);
    
}
.header-loginbtn:active
{
    transform: scale(0.9);
}
.header-style-1
{
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
}
.header-user 
{
    margin-right: 10px;
}
.header-user > * {
    margin: 5px
}
.header-img 
{
    width: 30px;
    height: 30px;
}
.logoutbtn
{
    outline: none;
    border-radius: 5px;
    transition-duration: 0.4s;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.9);
    color: rgba(15, 206, 206, 1) !important;
}
.logoutbtn:hover
{
    background-color: rgba(15, 206, 206, 1);
    border: 2px solid rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9) !important;
}
.header-user > img
{
    border-radius: 50%;
}