@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.login-style-1
{
    font-family: Stardos Stencil;
    font-size: 36px;
}
.login-style-1-bg
{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    width: fit-content;
}
.login-form-bg
{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}
.login-btns
{
    background-color: rgb(0,172,177);
    transition-duration: 0.4s;
    color: white;
    outline: none;
    border: none;
}
.login-btns:hover
{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}
.login-input-box
{
    border-radius: 10px;
}
.whatsappcss{
    background-color: #25D366;
    color: floralwhite;
    border-radius: 5px;
    
}
.instagramcss{
    background: #f09433;
    color: white; 
    border-radius: 5px;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.login-copyright
{
    color: rgba(41, 22, 255, 1);
    text-align: center;
}

.login-activate-tab
{
    background: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-radius: 15px 15px 0 0;
    border-bottom: 2px solid transparent;
    font-family: Balsamiq Sans;
    transition-duration: 0.3s;
}
.login-navitem
{
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    font-family: Balsamiq Sans;
    transition-duration: 0.3s;
}
.login-form-header
{
    text-align: center;
    font-family: Kalam;
}
.login-nav
{
    width: 100%;
}
.login-nav > * 
{
    padding: 10px;
}
.login-form-padding
{
    padding-right: 30px;
    padding-left: 30px;
    font-family: Balsamiq Sans;
}
.row-content
{
    min-height: 89vh;
}
.error
{
    color: red;
    font-size: 14px;
    min-height: 20px;
}
.signup-line
{
    width: 100px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.6);
}
.signup-steps
{
    background-color: white;
    text-align: center;
    border-radius: 50%;
    cursor: context-menu;
    --dim: 25px;
    width: var(--dim);
    height: var(--dim);
}
.signup-completed-steps
{
    background-color: rgba(0,0,255,0.6);
    text-align: center;
    border-radius: 50%;
    cursor: context-menu;
    --dim: 25px;
    width: var(--dim);
    height: var(--dim);
    color: white;
}
.signup-completed-line
{
    width: 100px;
    height: 2px;
    background-color: rgba(0,0,255,0.5);
}

.btn-disabled
{
    cursor: no-drop;
    background-color: rgb(80, 146, 158) !important;
    border: none;
    color: white;
}
.login-form-height
{
    height: 420px;
}
.signup-form-content
{
    height: 280px;
}