.video-page-container {
	display: grid;
	grid-template-columns: 7fr 3fr;
}

.myId {
	height: 300px;
	margin: 5rem 5rem;
	border-radius: 5px;
	background: #c9d6ff;
	background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
	background: linear-gradient(to right,#e2e2e2,#c9d6ff);
	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}

.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	justify-content: center;
	align-content: center;
	margin-left: 5rem;
}

.caller {
	text-align: center;
	color: #fff;
}

.video > video {
	--size: 550px;
	height: var(--size);
	width: var(--size);
}