@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.forum-container
{
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
}
.loader-container
{
    height: 100vh;
    width: 100vw;
    color: white;
}
.forum-loading
{
    font-size: 40px;
    font-family: Balsamiq Sans;
}
.forum-trending-today
{
    font-family: Itim;
    font-weight: bold;
    font-size: 35px;
}
.forum-search
{
    border-radius: 150px;
}
.forum-discussion-sort
{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.forum-discussion-sort-heading
{
    font-family: Kalam;
    font-weight: 600;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition-duration: 0.2s;
}
.forum-discussion-sort-heading:active
{
    transform: scale(0.92);
}
.forum-discussion-sort-heading-active
{
    cursor: pointer;
    font-family: Kalam;
    
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 20px;
    transition-duration: 0.2s;
}
.forum-discussion-sort-heading:hover
{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
}
.forum-discussion
{
    font-family: Itim;
    font-weight: bold;
    font-size: 35px;
}
.forum-ask-question,.forum-ask-question:hover
{
    padding-top: 5px;
    padding-bottom: 5px; 
    font-family: roboto;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: black;
}
.forum-ask-question-bg
{
    transition-duration: 0.2s;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
}
.forum-ask-question-bg:hover
{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
}
.forum-my-question-bg
{
    transition-duration: 0.2s;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.35)
}
.forum-my-question-bg:hover
{
    cursor: pointer;
}
.forum-my-question,.forum-my-question:hover
{
    padding-top: 5px;
    padding-bottom: 5px; 
    font-family: roboto;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: white;
}
.forum-modal-textarea
{
    resize: none;
}
.forum-question-render
{
    display: flex;
    align-items: center;
    font-family: Balsamiq Sans;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    transition-duration: 0.4s;
}
.forum-question-render:hover
{
    transform: scale(1.03);
    cursor: pointer;
}
.forum-discussion-image-container
{
    text-align: center;
    font-size: 14px;
    margin-left: -25px;
}
.forum-discussion-image
{
    width: 34px;
    height: 34px;
    border-radius: 100%;
}
.forum-discussion-date
{
    color: rgba(75, 75, 75,1);
}
.question-break 
{
    word-wrap: break-word;
}
.forum-card-container
{
    font-family: Balsamiq Sans;
    background-color: rgba(255, 255, 255, 0.8);
    transition-duration: 0.3s;
    text-overflow: ellipsis I !important;
    overflow: hidden;
    height: 150px;
}
.forum-card-container:hover
{
    transform: scale(1.1);
    cursor: pointer;
}
.forum-card-heading
{
    font-size: 25px;
    font-weight: 600;
}
.forum-modal-header,.forum-modal-footer
{
    font-family: Balsamiq Sans;
    background: rgba(0, 172, 177, 0.85);
}
.forum-modal-body
{
    font-family: Balsamiq Sans;
    background: rgba(0, 172, 177, 0.65);
}
.forum-goto-btn
{
    position: fixed;
    bottom: 20px;
    right: 30px;
    color: white;
    cursor: pointer;
}   