@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.feedback-heading
{
    border: 4px solid white;
    color: white;
    font-family: Roboto;
    font-size: 30px;
    text-align: center;
    border-radius: 4px;
}
.feedback-container
{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 10px;
    font-family: Balsamiq Sans;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.feedback-content
{
    font-size: 25px;
}
.feedback-name
{
    font-family: Kalam;
}
.no-feedback
{
    font-family: Balsamiq Sans;
    color: white;
    font-size: 32px;
    text-align: center;
}